*,*:after,*:before{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
i{
	pointer-events: none;
}
.ctr{
	display:flex;
	flex-direction:column;
	height:100vh;
}

.ctr>.toolbox{
	border-bottom:1px solid;
	padding:5px;
	display: flex;
	flex-wrap:wrap;
}
.ctr>.toolbox>*{
	padding:2px 5px;
	text-transform:capitalize;
}
.ctr>.toolbox>* + *{
	margin-left:5px;
}
.ctr>.grid{
	flex:1;
	font-size:0;
}

.ctr>.grid>div{
	border-left:1px solid;
	border-bottom:1px solid;
	display:inline-block;
}

.active{
	background: orange;
}


.ctr>.grid.noBorder>div{
	border:none !important;
}

.import{
	margin-right:auto;
}



.importContainer{
	background:#5c5c5ca6;
	position:absolute;
	height:100vh;
	width:100vw;
	display:none;
	font-family:Fira code;
}

.importContainer>.importBox{
	background:white;
	border-radius:5px;
	margin:auto;
	padding:10px;
	box-shadow: 0px 0px 11px 2px #3c3c3c;
}

.importContainer>.importBox>ul{
	list-style:none;
}

.importContainer>.importBox>ul>li{
	padding:10px;
/* 	background:red; */
	border:1px solid;
	margin:5px ;
	display:flex;

}
.importContainer>.importBox>ul>li>button:nth-child(2){
	margin-left:auto;
}
.importContainer>.importBox>ul>li>*{
	padding:2px 5px;
	text-transform:capitalize;
}

.importContainer>.importBox>ul>li>span{
	margin-right:30px;
}